html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

.parallax-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
}

.home {
    position: relative;
    height: 100vh;
    background: url("../assets/home-bg.jpg") no-repeat center center/cover;
}